<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.loseit_androidapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".ApplicationClass"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Loseit_androidapp"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
<!--        <activity-->
<!--            android:name=".MealPlan"-->
<!--            android:exported="false" />-->
        <activity
            android:name=".AddExercise"
            android:exported="false" />
        <activity
            android:name=".AddMeal"
            android:exported="false" />
        <activity
            android:name=".HomeScreen"
            android:exported="false" />
        <activity
            android:name=".Notifications"
            android:exported="false" />
        <activity
            android:name=".AppSettings"
            android:exported="false" />
        <activity
            android:name=".ExerciseDetails"
            android:exported="false" />
        <activity
            android:name=".FavoriteWorkout"
            android:exported="false" />
        <activity
            android:name=".FavoriteMeal"
            android:exported="false" />
        <activity
            android:name=".FavoritesEmpty"
            android:exported="false" />
        <activity
            android:name=".Profile"
            android:exported="false" />
        <activity
            android:name=".StartTraining"
            android:exported="false" />
        <activity
            android:name=".Result"
            android:exported="false" />
        <activity
            android:name=".BottomNavigationBar"
            android:exported="false" />
        <activity
            android:name=".Exercises"
            android:exported="false" />
        <activity
            android:name=".AddNewWorkout"
            android:exported="false" />
        <activity
            android:name=".SignUpScreen"
            android:exported="false" />
        <activity
            android:name=".Excercise"
            android:exported="false" />
        <activity
            android:name=".Dashboard"
            android:exported="false" />
        <activity
            android:name=".NewWorkoutAdd"
            android:exported="false" />
        <activity
            android:name=".Filters"
            android:exported="false" />
        <activity
            android:name=".Category"
            android:exported="false" />
        <activity
            android:name=".getstarted"
            android:exported="false" />
        <activity
            android:name=".goal"
            android:exported="false" />
        <activity
            android:name=".Level"
            android:exported="false" />
        <activity
            android:name=".height"
            android:exported="false" />
        <activity
            android:name=".weightgoal"
            android:exported="false" />
        <activity
            android:name=".Weight"
            android:exported="false" />
        <activity
            android:name=".SelectFavorite"
            android:exported="false" />
        <activity
            android:name=".EditProfile"
            android:exported="false" />
        <activity
            android:name=".LoginScreen"
            android:exported="false" />
        <activity
            android:name=".Welcome3Screen"
            android:exported="false" />
        <activity
            android:name=".Welcome2Screen"
            android:exported="false" />
        <activity
            android:name=".Welcome1Screen"
            android:exported="false" />
        <activity
            android:name=".MealPlan"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>